<header class="header">
    <h1 class="header-title"><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h1>
    <nav>
        <input type="checkbox" id="togglenav" class="menu-toggle">

        <div class="collapse">
            <ul class="main-menu">
                <li><a href="{{ '/' | absolute_url }}">Home</a></li>
                <li><a href="{{ '/gallery' | absolute_url }}">Gallerij</a></li>
            </ul>
        </div>

        <label for="togglenav" class="menu-toggle-ui">
        </label>
    </nav>
    </section>
</header>