---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/CreativeWork">

    <header>
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        <h4> {{ page.description }}</h4>
        <p>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">
                {{ page.date | date: date_format }}
            </time>
            door
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">Muharem Kelmendi</span></span>
    </header>

    <section itemprop="description">
        <div class="frame">
            <img src="{{ page.image | absolute_url }}" alt="{{ page.title }}">
        </div>
        <br>
        {{ content }}
    </section>
</article>